
main {
  width: 80%;
  margin: 5% auto;
  padding-left: 10%;
  padding-bottom: 5%;
  border: 5px black solid;
  text-shadow: 1px 1px 2px #5f5f61;
  letter-spacing: 3px;
  -webkit-box-shadow: 2px 5px 15px -5px #000000; 
box-shadow: 2px 5px 15px -5px #000000;
}

h1 {
  margin-top: 5%;
  padding-bottom: 5%;
  color: #5656dd;
}

label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn, input[type="text"] {
  width: 100%;
}

#task_list {
  border: 2px solid black;
  padding: 1em;
}